/* CSS file */

.cardsDatagrid
{
  vertical-grid-lines: true;
  border-style: solid;
  selection-color: #F6D29F;
  roll-over-color: #F0BC73;
  alternating-item-colors: #CCCCCC, #E1E4E5;
  headerColors: #3D464B, #57666E;
	horizontalGridLines: false;
	verticalScrollBarStyleName: dataGridVerticalScrollBar;
	borderThickness: 0;
	textAlign: left;
	fontWeight: normal;
	fontStyle: normal;
	textDecoration: normal;
	headerStyleName: dataGridHeader;
}

Button.StandardButton
{
	borderColor: #000000;
	color: #FB9221;
	fillAlphas: 0.0, 0.0, 0.0, 0.0;
	cornerRadius: 0;
	fontFamily: Verdana;
}
Button.SlimlineButton
{
	cornerRadius: 10;
	fillAlphas: 0.8, 0.8, 0.8, 0.8;
	fillColors: #000000, #000000;
	paddingBottom: 0;
	paddingLeft: 0;
	paddingRight: 0;
	paddingTop: 0;
	textAlign: center;
	color: #FB9221;
}
.customScroll
{
    upArrowSkin: ClassReference(null);
    downArrowSkin: ClassReference(null);
    thumbUpSkin: ClassReference('com.mindegg.theme.skins.CustomSkinThumb');
    thumbOverSkin: ClassReference('com.mindegg.theme.skins.CustomSkinThumb');
    thumbDownSkin: ClassReference('com.mindegg.theme.skins.CustomSkinThumb');
}
.propertyFormItem
{
	color: #FFFFFF;
}
.propertyFormInput
{
	color: #000000;
}
.dataGridVerticalScrollBar
{
}
.dataGridHeader
{
	color: #EEEEEE;
	fontWeight: bold;
}